.contact {
  padding: 90px 20px;
  background: #f0a24869; /* milk white */
  text-align: center;
}

.contact h2 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

.contact-line {
  width: 50px;
  height: 3px;
  background: #c97a2b;
  margin: 14px auto 60px;
}

/* MAIN LAYOUT */
.contact-container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  text-align: left;
}

/* LEFT INFO */
.contact-info p {
  font-size: 14px;
  color: #333;
  margin-bottom: 14px;
}

.contact-info span {
  font-weight: 600;
}

/* FORM */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: flex;
  gap: 20px;
  width:96%;
}

.contact-form input,
.contact-form textarea {
  width: 90%;
  padding: 14px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

.contact-form textarea {
  min-height: 120px;
  resize: none;
}

.contact-form button {
  background: #c97a2b;
  color: #fff;
  border: none;
  padding: 14px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: 96%
}

.contact-form button:hover {
  background: #b06a24;
}
@media (max-width: 900px) {
  .contact-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .form-row {
    flex-direction: column;
  }
}
