.hero {
  width:250vh;
  height: 85vh;
  background-image: url("/map-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.hero-card {
  background: white;
  padding: 50px 45px;
  max-width: 420px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.hero-card h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.2;
  color: #000;
}

.hero-line {
  width: 60px;
  height: 4px;
  background-color: #c97a2b;
  margin-bottom: 18px;
}

.hero-card p {
  font-size: 16px;
  color: #444;
}
