.hero {
  width:100%;
  height: 85vh;
  background-image: url("/map-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  margin-left: 100vh;
  display: flex;
  align-items: center;
  padding-left: 80px;
  
}

.hero-card {
  background: white;
  padding: 50px 45px;
  max-width: 420px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.hero-card h1 {
  font-size: 42px;
   border: 2px solid #ffffff; 
  font-weight: 700;
  width: 250px;
  margin-bottom: 20px;
  line-height: 1.2;
  color: #000;
}

.hero-line {
  width: 60px;
  height: 4px;
  background-color: #c97a2b;
  margin-bottom: 18px;
}

.hero-card p {
  font-size: 16px;
  color: #444;
}
.hero-overlay {
  justify-content: space-between;
  padding-right: 80px;
}

/* RIGHT SIDE IMAGE */
.hero-image img {
  width: 320px;
  max-width: 100%;
  border-radius: 14px;

  border: 2px solid #ffffff; 

  margin-right: 600vh;
  margin-left: -150vh;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .hero {
  width: 100%;
  height: 85vh;
  background-image: url("/map-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
}


  .hero-overlay {
    flex-direction: column;
    padding: 40px 20px;
    gap: 40px;
  }
}
