.navbar {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  height:120px;
  z-index: 1000;
}

.navbar-container {
  max-width: 1200px;
  margin: auto;
  height: 125px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: -10vh;
  color: #7a4a1d;
  font-family: "Georgia", serif;
}

.menu {
  display: flex;
  gap: 28px;
}

.menu a {
  text-decoration: none;
  color: #7a4a1d;
  font-size: 15px;
  font-weight: bold;
  position: relative;
}

.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: #7a4a1d;
  transition: width 0.3s ease;
}

.menu a:hover::after {
  width: 100%;
}
