#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}



.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.section {
  opacity: 0;
  width: 100%;
  transform: translateY(60px);
  transition: all 0.8s ease;
}

.section.active {
  opacity: 1;
  transform: translateY(0);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* VERY IMPORTANT */
  scroll-behavior: smooth;
}
