#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

.section {
  opacity: 0;
  width: 100%;
  transform: translateY(60px);
  transition: all 0.8s ease;
}

.section.active {
  opacity: 1;
  transform: translateY(0);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* VERY IMPORTANT */
  scroll-behavior: smooth;
}
